hotspot.log
*.iml
*.ipr
*.iws
.gradle/
build/
target/
classes/
/var
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
/jakarta_apis/appengine-native-image
/jakarta_apis/classes.txt
/jakarta_apis/all_runtime_classes.txt
